<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
  <link rel="stylesheet" href="/css/error.css">
</head>
<body>
  <div class="wrapper row2">
    <div id="container" class="clear">
      <!-- ####################################################################################################### -->
      <!-- ####################################################################################################### -->
      <!-- ####################################################################################################### -->
      <!-- ####################################################################################################### -->
      <section id="fof" class="clear">
        <!-- ####################################################################################################### -->
        <div class="hgroup">
          <h1><span><strong>4</strong></span><span><strong>0</strong></span><span><strong>4</strong></span></h1>
          <h2>Error ! <span>Page Not Found</span></h2>
        </div>
        <p>You have just entered an invalid url OR this page does not exist </p>
        <p> / <a href="/" class="back_link">Go Home &raquo;</a></p>
        <!-- ####################################################################################################### -->
      </section>
      <!-- ####################################################################################################### -->
      <!-- ####################################################################################################### -->
      <!-- ####################################################################################################### -->
      <!-- ####################################################################################################### -->
    </div>
  </div>
</body>
</html>