<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/css/poster.css">
</head>
<body>
    <div class="main">
        <div class="title">
            <p>UPLOAD POSTER PICTURES</p>
        </div>
        <div class="sub_main">
            <div class="form_div">
                <form action="/poster" method="post" enctype="multipart/form-data" class="form">
                    <p>Choose pic</p>
                <input type="file" name="file_upload" multiple="multiple"/>
                <div class="btn">
                    <button type="submit">Upload</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>