<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/css/upload.css">
</head>
<body>
    <div class="main">
        <div class="heading">
            <h1>UPLOAD PRODUCT DETAILS</h1>
        </div>
        <div class="form_div">
            <form action="/upload" method="post">
        <div class="detail_div">
            Title:<input type="text" placeholder="title: men's black..." name="title"><br>

            PRICE: <input type="text" placeholder="price in $: $11..." name="price"><br>
            DISCOUNT PRICE: <input type="text" placeholder="price discount in $: $8..." name="cut_price"><br>
            SALE PRICE :<input type="text" placeholder="sell price in $: $2..." name="sell_price"><br>

            VISIBLITY: 
            <label>Yes: <input type="radio" name="visiblity" value="true"></label>
            <label>No: <input type="radio" name="visiblity" value="false"></label><br>
            
            DISCOUNT: 
            <label>Yes: <input type="radio" name="discount" value="true"></label>
            <label>No: <input type="radio" name="discount" value="false"></label><br>
            
            SALE: 
            <label>Yes: <input type="radio" name="sell" value="true"></label>
            <label>No: <input type="radio" name="sell" value="false"></label><br>
            
            BRAND: 
            <label>Yes: <input type="radio" name="brand" value="true"></label>
            <label>No: <input type="radio" name="brand" value="false"></label><br>

            BRAND NAME: <input type="text" placeholder="brand name: denim..." name="brand_name"><br>
                
            CATEGORY<select id="category" name="category">
                
                {{#cate cate}}
                 {{/cate}}
            </select><br>

            TYPE <select id="type" name="type">
                <option value="men">MEN</option>
                <option value="women">WOMEN</option>
                </select><br>
            AVAILABLE COLOURS: <input type="text" placeholder="available colors: red, gree, yellow," name="colors"><br>
            
            AVAILABLE SIZES: <input type="text" placeholder="available sizes: small, medium ,large" name="sizes"><br>

            SEARCH KEYWORDS: <input type="text" placeholder="search keywords: black pants" name="search_keyword"><br>

            KEYWORDS: <input type="text" placeholder="keywords: pant, black, brand,..." name="keywords"><br>

            TABLE: <input type="text" placeholder="table details: color: red, black, white; size: small ,medium ,large ;" name="table"><br>

            DESCRIPTION: <input type="text" placeholder="description: imporant things to know" name="des"><br>

            NOTE: <input type="text" placeholder="note: Note! this is not..." name="note"><br>
        </div>
        <div class="btn">
            <button type="submit">Upload</button>
        </div>
    </form>

        </div>
    </div>
    
</body>
</html>